<h1> Activities </h1>
<p> Here is a taste of some of our favorite activities </p>

<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Human Chair<br>Mary's favorite</h2>
                    <%= link_to "activities", '#'%><p class="lead"> Start by leaning up against a wall and slowly bending your knees/p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Toss the sock<br>Roger's favorite</h2>
                    <p class="lead">Make a target. A laundrey basket is wonderful for this.<%= link_to "activities", '#'%>You can start a contest and make this an all out sport. It helps to pick team colors, black socks against white.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ted's favourite<br>A walk in the park</h2>
                    <p class="lead">Walking and strolling - here to the park and back in 40 minutes <%= link_to "my favorite park", '#'%>, as well as <%= link_to "my other favorite park", '#'%>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->