<h1>Noble goals </h1>
<p> Here is a taste of some goals set by some of our favorite members.</p>

<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Family Wedding<br>Jan's goal</h2>
                    <%= link_to "goals", '#'%><p class="lead"> Jan wants to enjoy her grand daughter's wedding in style. She plans to capture a few good shots on her camera and share it with her friends./p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Curling<br>John's goal</h2>
                    <p class="lead">John has been curling at the local curling club for 30 years<%= link_to "goals", '#'%>After a few spills, he has been unable to play the game. He plans to get back into it and join his team again.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cross Country tour<br>Jesse's and Peg's retirement</h2>
                    <p class="lead">Bikes and RV all ready, Jesse and Peg plan to retire and take an adventure across the country. They have a map, and some scenic places to see. <%= link_to "Trip", '#'%>, as well as <%= link_to "my other favorite park", '#'%>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->