
<body>

    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>My Home Health</h1>
                        <h3>Your personalized home health assistant</h3>
                        <h4>I <em> was </em> am strong </h4>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <%= link_to "My Activities", '#', class: "btn btn-default btn-lg" %>
                            </li>
                            <li>
                                <%= link_to "My Goals", '#', class: "btn btn-default btn-lg" %>
                            </li>
                            <li>
                                <%= link_to "Social Board", '#', class: "btn btn-default btn-lg" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class = "row jumbotron">
        <div class="col-lg-12 ">
            <div class="intro-title">
            	<h1 class="text-center"> Laurie and Melissa are working on something for you. </h1> 
                <h2 class="text-center"> Meanwhile, Keep being you !!! </h2>
            </div>
        </div>
    </div>
	
    <!-- /.banner -->

    <!-- Footer -->
    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>